// $bg-color:#2D303A;
$width-wrapper:1020px;
body {
        margin: 0 auto;
        padding: 0;
}

.header, 
.slider, 
.services, 
.portfolio, 
.footer {
        width: $width-wrapper;
        margin: 0 auto;
}
.wrapper__header {
    background: #2D303A;
    border-bottom: 6px solid #323746;

}
.header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 89px;
}
.logo{
        width: 0.13*$width-wrapper;
        font-family: Lato;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
        line-height: 30px;
        letter-spacing: -0.03em;
        color: #FFFFFF;
        margin-left: 40px;
        h1 {
            font-size: 25px;
            }
        .logo_star {
            color: red;
            }
    }
.navigation {
    width: 375px;
    margin-right: 40px;
    font-family: Lato;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    
.navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    list-style-type: none; 
    }

    .navigation_link_red {
        color: red;
        list-style-type: none;
        display: block;
        text-decoration: none;
    }
    .navigation_link_red:hover {
        color: white;
    }
    .navigation_link_white {
        color: #FFFFFF;
        display: block;
        text-decoration: none;
    }
    .navigation_link_white:hover {
        color: red;
    }
    .navigation_link_white::before {
            background-color:#FFFFFF;;
            width:3px;
            height:3px;
            content:"";
            display: inline-block;
            margin:3px 14px 3px 0;
            border-radius: 50%; 
    }
    
}

.wrapper__slider {
    background-color: #F06C64;
    border-bottom: 6px solid#EA676B;
}

.slider{
    height: 594px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .slider__content {
        width: 796px;
        height: 487px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .arrow-left {
        width: 16px;
        height: 27px;
        cursor: pointer;
    }
    .arrow-right {
        width: 16px;
        height: 27px;
        cursor: pointer;
    }
    
}

    .wrapper__services {
        background-color: #F2F2F2;
        border-bottom: 6px solid #FFFFFF;
    }
    .services {
        height: 500px;
        display: flex;
        flex-direction: column;
        
            .services__description{
            display: flex;
            flex-direction: column;
            height: 40%;
                .services__name {
                    height: 50%;
                    margin: 60px 0 0px 40px;
                    font-family: Lato;
                    font-weight: 900;
                    font-size: 30px;
                    line-height: 30px; 
                    }
                .services__text {
                    height: 50%;
                    font-family: Lato;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    padding: 0px 40px;
                    text-align: justify;
                }
            }
            %service__items_h4 {
                font-family: Lato;
                font-weight: 900;
                font-size: 18px;
                line-height: 18px;
                text-align: justify;
                margin: 0 0;
            }
            %service__items_p {
                font-family: Lato;
                font-weight: 400;
                font-size: 12px;
                line-height: 22px; 
                text-align: justify;
                padding-right: 10px;
                overflow: hidden;
            }
            %services__items_wh {
                flex-basis: 33%;
                height: 45%;
            }
            %services__items_before {
                width: 60px;
                height: 60px;
                content:"";
                background-position: center;
                float: left;
                background-repeat: no-repeat;
                margin: 0px 10px 30px 0px;
            }
           .services__items {
               display: flex;
               flex-direction: row;
               flex-wrap: wrap;
               height: 45%;
               justify-content: space-around;
               margin-left: 40px;
               margin-right: 40px;
        
           .services__item_custom-design, 
           .services__item_inovative-ideas, 
           .services__item_love, 
           .services__item_responsive, 
           .services__item_support, 
           .services__item_feel-star {
               margin-top: 20px;
               margin-bottom: 20px;
                    @extend %services__items_wh;
                    h4 {
                        @extend %service__items_h4;
                    }
                    p {
                        @extend %service__items_p;
                    }
               }
           
           .services__item_custom-design::before {
            @extend %services__items_before;
            background-size: 32px 32px, 60px 60px;
            background-image: url('assets/img/services-item-1--nocircle.png'), 
                              url('assets/img/circle.png');
           }
           
           .services__item_inovative-ideas::before {
            @extend %services__items_before;
            background-size: 22px 32px, 60px 60px;
            background-image: url('assets/img/services-item-2--nocircle.png'), 
                              url('assets/img/circle.png');   
            }
          
           .services__item_love::before {
            @extend %services__items_before;
            background-size: 32px 28px, 60px 60px;
            background-image: url('assets/img/services-item-3--nocircle.png'), 
                              url('assets/img/circle.png');  
            }
           
           .services__item_responsive::before {
            @extend %services__items_before;
            background-size: 22px 32px, 60px 60px;
            background-image: url('assets/img/services-item-4--nocircle.png'), 
                              url('assets/img/circle.png');
            }
          
           .services__item_support::before {
            @extend %services__items_before;
            background-size: 32px 28px, 60px 60px;
            background-image: url('assets/img/services-item-5--nocircle.png'), 
                              url('assets/img/circle.png');  
            }
           
           .services__item_feel-star::before {
            @extend %services__items_before;
            background-size: 32px 32px, 60px 60px;
            background-image: url('assets/img/services-item-6--nocircle.png'), 
                              url('assets/img/circle.png');  
            }
        }
}
.wrapper__portfolio {
    background-color: #2D303A;
    border-bottom: 6px solid #323746;
}

.portfolio{
    height: 0,84*$width-wrapper;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
        &__description{
            display: flex;
            flex-direction: column;
            height: 11,5%;
            }
            &__name {
                height: 50%;
                margin: 59px 0 0px 40px;
                font-family: Lato;
                font-weight: 900;
                font-size: 30px;
                line-height: 36px;
                color: #666D89; 
                }
            &__text {
                height: 50%;
                font-family: Lato;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                padding: 0px 40px;
                text-align: justify;
                color: #767E9E;
                margin-top: 12px;
                }
    &__navigation-list {
            width: 290px;
             height: 22px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style-type: none; 
            margin-block-start: 0;
            margin-block-end: 0;
            
            & a {
                color: #767E9E;
                text-decoration: none;
                border: 1px solid #767E9E;
                box-sizing: border-box;
                border-radius: 5px; 
                font-family: Lato;
                font-weight: 400;
                font-size: 12px;
                line-height: 12px;
                text-transform: capitalize;
                text-align: center;
                padding: 1px;
                &:hover {
                    color: white;
                }
                
            }
    }
        
    &__images{
        width: 940px;
        height: 601px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: hidden;
        
        & div {
            width: 220px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
}
}
.wrapper__footer {
    background-color: #2D303A;
}

.footer {
    height: 0,745*$width-wrapper;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .copyright{
        color:#666D89;
        margin-left: 40px;
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        font-size: 13px;
        line-height: 18px;
    }
    &__icons {
        margin-right: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 152px;

    }
    &__icon {
        width: 32px;
        height: 32px;
        border: 1px solid #666D89;;
        border-radius: 50%;
        
    }
    %footer__icons_tamplate{
        content:"";
        background-position: center;
        background-repeat: no-repeat;
    }
    .facebook  {
        background-image: url(assets/img/ico-facebook--nocircle.png);
        background-size: 8px 14px;
        @extend %footer__icons_tamplate;
    }
    .google_plus {
        background-image: url(assets/img/ico-google-plus--nocircle.png);
        background-size: 14px 14px;
        @extend %footer__icons_tamplate;
    }
    .twitter {
        background-image: url(assets/img/ico-twitter--nocircle.png);
        background-size: 14px 12px;
        @extend %footer__icons_tamplate; 
    }
    .linkedin {
        background-image: url(assets/img/ico-linkedin--nocircle.png);
        background-size: 14px 14px;
        @extend %footer__icons_tamplate;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1019px) {
.header, 
.slider, 
.services, 
.portfolio, 
.footer {
        width: 100%;
        margin: 0 auto;
}

.slider{
    height: 448px;
    .slider__content {
        width: 600px;
        height: 364px;
        .phone-vertical img {
            width: 181px;
            height: 364px;
        }
        .phone-horizontal img {
            width: 364px;
            height: 181px;
        }
  }
}

    .services {
        height: 675px;

        .services__description{
            height: 30%;
        }
       
        .services__items {
             height: 70%;
            justify-content: space-between;
            .services__item_custom-design, 
            .services__item_inovative-ideas, 
            .services__item_love, 
            .services__item_responsive, 
            .services__item_support, 
            .services__item_feel-star {
                       flex-basis: 45%;
                       height: 16%;  
                }
        }
    }

    .portfolio{
        height: 1,073*$width-wrapper;
        
        &__images{
            align-self: center;
            width: 689px;
            height: 794px;
        }
    }
}
@media only screen and (min-width: 375px) and (max-width: 767px) {
    
    .header, 
    .slider, 
    .services, 
    .portfolio, 
    .footer {
            width: 100%;
            margin: 0 auto;
    }
    .logo {
        display: none;
    }
    .header {
        height: 71px;
    }
    .mobile-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: Lato;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
        line-height: 30px;
        letter-spacing: -0.03em;
        color: #FFFFFF;
        margin-left: 40px;
        h1 {
            font-size: 25px;
            }
        .mobile-logo_star {
            color: red;
            }
    }
    .navigation {
        display: none;
    }
    
    /* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
    /* контейнер меню */
.mobile-navigation__list {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.795);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .mobile-navigation_link {
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
  }
  .mobile-navigation_link:hover {
    color: red;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .mobile-navigation__list {
    visibility: visible;
    left: 0;
  }
  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .4s;
}
.mobile-navigation__list {
  transition-duration: .4s;
}
.mobile-navigation_link {
  transition-duration: .4s;
}

.slider{
    height: 376px;
    .slider__content {
        width: 293px;
        height: 178px;
        .phone-vertical img {
            width: 88.24px;
            height: 177.61px;
        }
        .phone-horizontal img {
            width: 177.61px;
            height: 88.24px;
        }
  }
}
    
}
