// $bg-color:#2D303A;
$width-wrapper:1020px;
body {
        margin: 0 auto;
        padding: 0;
}
.header, 
.slider, 
.services, 
.portfolio, 
.footer {
        width: $width-wrapper;
        margin: 0 auto;
}
.header {
        display: flex;
        flex-direction: row;
        width:$width-wrapper;
        justify-content: space-between;
        align-items: center;
        background: #2D303A;;
        border-bottom: 6px solid #323746;
}
.logo{
        width: 0.13*$width-wrapper;
        font-family: Lato;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
        line-height: 30px;
        letter-spacing: -0.03em;
        color: #FFFFFF;
        margin-left: 40px;
        h1 {
            font-size: 25px;
            }
        .logo_star {
            color: red;
            }
    }
.navigation {
    width: 375px;
    margin-right: 40px;
    font-family: Lato;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    
.navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    list-style-type: none; 
    }

    .navigation_link_red {
        color: red;
        list-style-type: none;
        display: block;
        text-decoration: none;
    }
    .navigation_link_red:hover {
        color: white;
    }
    .navigation_link_white {
        color: #FFFFFF;
        display: block;
        text-decoration: none;
    }
    .navigation_link_white:hover {
        color: red;
    }
    .navigation_link_white::before {
            background-color:#FFFFFF;;
            width:3px;
            height:3px;
            content:"";
            display: inline-block;
            margin:3px 14px 3px 0;
            border-radius: 50%; 
    }
}
.slider{
    background-color: #F06C64;
    height: 594px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .slider__content {
        width: 796px;
        height: 483px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .arrow-left {
        width: 16px;
        height: 27px;
        cursor: pointer;
    }
    .arrow-right {
        width: 16px;
        height: 27px;
        cursor: pointer;
    }
    
}
    .services {
        background-color: #F2F2F2;
        height: 594px;
        display: flex;
        flex-direction: column;
        border-bottom: 6px solid #FFFFFF;
            .services__description{
            display: flex;
            flex-direction: column;
            height: 40%;
                .services__name {
                    height: 50%;
                    margin: 60px 0 0px 40px;
                    font-family: Lato;
                    font-weight: 900;
                    font-size: 30px;
                    line-height: 30px; 
                    }
                .services__text {
                    height: 50%;
                    font-family: Lato;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    padding: 0px 40px;
                    text-align: justify;
                }
            }
            %service__items_h4 {
                font-family: Lato;
                font-weight: 900;
                font-size: 18px;
                line-height: 18px;
                text-align: justify;
                margin: 0 0;
            }
            %service__items_p {
                font-family: Lato;
                font-weight: 400;
                font-size: 12px;
                line-height: 22px; 
                text-align: justify;
                padding-right: 10px;
                overflow: hidden;
            }
            %services__items_wh {
                flex-basis: 33%;
                height: 25%;
            }
            %services__items_before {
                width: 60px;
                height: 60px;
                content:"";
                background-position: center;
                float: left;
                background-repeat: no-repeat;
                margin: 0px 10px 30px 0px;
            }
           .services__items {
               display: flex;
               flex-direction: row;
               flex-wrap: wrap;
               height: 60%;
               margin: 40px 40px 46px 40px;
           
           .services__item_custom-design, 
           .services__item_inovative-ideas, 
           .services__item_love, 
           .services__item_responsive, 
           .services__item_support, 
           .services__item_feel-star {
                    @extend %services__items_wh;
                    h4 {
                        @extend %service__items_h4;
                    }
                    p {
                        @extend %service__items_p;
                    }
               }
           
           .services__item_custom-design::before {
            @extend %services__items_before;
            background-size: 32px 32px, 60px 60px;
            background-image: url('assets/img/services-item-1--nocircle.png'), 
                              url('assets/img/circle.png');
           }
           
           .services__item_inovative-ideas::before {
            @extend %services__items_before;
            background-size: 22px 32px, 60px 60px;
            background-image: url('assets/img/services-item-2--nocircle.png'), 
                              url('assets/img/circle.png');   
            }
          
           .services__item_love::before {
            @extend %services__items_before;
            background-size: 32px 28px, 60px 60px;
            background-image: url('assets/img/services-item-3--nocircle.png'), 
                              url('assets/img/circle.png');  
            }
           
           .services__item_responsive::before {
            @extend %services__items_before;
            background-size: 22px 32px, 60px 60px;
            background-image: url('assets/img/services-item-4--nocircle.png'), 
                              url('assets/img/circle.png');
            }
          
           .services__item_support::before {
            @extend %services__items_before;
            background-size: 32px 28px, 60px 60px;
            background-image: url('assets/img/services-item-5--nocircle.png'), 
                              url('assets/img/circle.png');  
            }
           
           .services__item_feel-star::before {
            @extend %services__items_before;
            background-size: 32px 32px, 60px 60px;
            background-image: url('assets/img/services-item-6--nocircle.png'), 
                              url('assets/img/circle.png');  
            }
        }
}
.portfolio{
    background-color: #2D303A;;
    height: 0,84*$width-wrapper;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    border-bottom: 6px solid #323746;
    &__description{
        display: flex;
        flex-direction: column;
        height: 11,5%;
        }
            &__name {
                height: 50%;
                margin: 59px 0 0px 40px;
                font-family: Lato;
                font-weight: 900;
                font-size: 30px;
                line-height: 36px;
                color: #666D89; 
                }
            &__text {
                height: 50%;
                font-family: Lato;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                padding: 0px 40px;
                text-align: justify;
                color: #767E9E;
                margin-top: 12px;
                }
    &__navigation-list {
            width: 290px;
             height: 22px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style-type: none; 
            margin-block-start: 0;
             margin-block-end: 0;
           
            & a {
                color: #767E9E;
                text-decoration: none;
                border: 1px solid #BBBBBB;
                box-sizing: border-box;
                border-radius: 5px; 
                font-family: Lato;
                font-weight: 400;
                font-size: 12px;
                line-height: 12px;
                text-transform: capitalize;
                text-align: center;
                padding: 1px;
                
            }
    }
        
    &__images{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        
        & div {
            flex-basis: content;
            padding: 5px 10px 5px 0px; 
        }
}
}