@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@font-face {
font-family: 'Lato';
src: url ('./assets/fonts/Lato-Black.ttf') format('ttf');
font-weight: 900;
font-style: normal;
}
@font-face {
font-family: 'Lato';
src: url ('./assets/fonts/Lato/Lato-Bold.ttf') format('ttf');
font-weight: 700;
font-style: normal;
}
@font-face {
font-family: 'Lato';
src: url ('./assets/fonts/Lato-Regular.ttf') format('ttf');
font-weight: 400;
font-style: normal;
}
